

<footer class="footer ">
<div class="container">
<small>

Copyright © <a href="enter in a link here">The Complete App about Sports</a>

by <a href="enter in a link here">Jaouad Sourour, Kel, Shubha and Holly</a>

</small>

<nav>

<ul>

<li><%= link_to "Links" %></li>
<li><%= link_to "Links" %></li>
<li><%= link_to "Links" %></li>
<li><%= link_to "Links" %></li>
<li><%= link_to "Links" %></li>


</ul>

</nav>

</div>
</footer>
